---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import HeroPrograms from '~/components/widgets/HeroPrograms.astro';
import Layout from '~/layouts/PageLayout.astro';
import StatsData from '~/components/phd/StatsData.astro';
import ProgramTOC from '~/components/widgets/ProgramTOC.astro';
import Features from '~/components/widgets/Features.astro';
import HeroSection from '~/components/widgets/HeroSection.astro';
import ProgramCurriculum from '~/components/phd/ProgramCurriculum.astro';
import ResearchCurriculum from '~/components/phd/ResearchCurriculum.astro';
import ProgramMethodology from '~/components/phd/ProgramMethodology.astro';
import PhdProject from '~/components/phd/PhdProject.astro';
import { paisajeAmbienteCurriculum, paisajeAmbienteResearch } from '~/data/phd/paisaje-ambiente';
import FacultyMember from '~/components/widgets/FacultyMember.astro';
import { faculty } from '~/data/faculty';
import Image from '~/components/common/Image.astro';
import Scholarship from '~/components/phd/Scholarship.astro';
import Admission from '~/components/phd/Admission.astro';
import Payments from '~/components/phd/Payments.astro';
import PaymentMethods from '~/components/phd/PaymentMethods.astro';
import Requests from '~/components/phd/Requests.astro';

const metadata = {
    title: 'Doctorado en Paisaje y Ambiente | Fondo Verde',
    description:
        'Fórmate con el Doctorado en Paisaje y Ambiente online con RVOE. Especialízate en el análisis, ordenación y gestión del paisaje, ecología urbana y desarrollo territorial.',
    keywords:
        'doctorado en paisaje y ambiente, ordenación del paisaje, rvoe méxico, ecología del paisaje, gestión del territorio, fondo verde, patrimonio cultural, educación online',
};

const tabs = [
    { id: 'presentacion', label: '1. Presentación' },
    { id: 'el-doctorado', label: '2. El Doctorado' },
    { id: 'investigacion', label: '3. Investigación' },
    { id: 'asignaturas', label: '4. Asignaturas' },
    { id: 'proyecto', label: '5. Proyecto' },
    { id: 'metodologia', label: '6. Metodología' },
    { id: 'profesorado', label: '7. Profesorado' },
    { id: 'beneficios', label: '8. Beneficios' },
    { id: 'campos-de-accion', label: '9. Campos de Acción' },
    { id: 'titulacion', label: '10. Titulación' },
    { id: 'becas', label: '11. Becas' },
    { id: 'inscripcion', label: '12. Inscripción' },
    { id: 'pagos', label: '13. Pagos' },
    { id: 'medios-de-pago', label: '14. Medios de Pago' },
    { id: 'solicitudes', label: '15. Solicitudes' },
];
---

<Layout metadata={metadata} showSecondaryNav={false}>
    <!-- HeroPrograms ********************************************** -->
    <HeroPrograms
        tagline="Convocatoria Abierta 2026"
        subtitle="Soluciones sostenibles para la gestión, planeamiento y recuperación de los territorios"
        actions={[
        {
            variant: 'primary',
            text: 'Solicita información',
            href: '#solicitudes',
            icon: 'tabler:mail-forward',
            class: '!bg-primary !border-primary !text-white hover:!bg-secondary hover:!border-secondary transition-colors duration-300',
        },
        ]}
        image={{
        src: '~/assets/images/doctorados/fvi-phd-sostenibilidad.webp',
        alt: 'Imagen del Doctorado en Paisaje y Ambiente',
        }}
    >
        <Fragment slot="title">
            Doctorado en <br />
            <span class="text-secondary dark:text-accent"> Paisaje y Ambiente</span>
        </Fragment>
    </HeroPrograms>

    <!-- DatosEstadisticas -->
    <StatsData /> 

    <div class="relative max-w-[100vw] overflow-x-hidden">
        <!-- Desktop Sidebar & Mobile Floating Pill -->
        <ProgramTOC tabs={tabs} />

        <!-- Main Content Wrapper that creates space for the Desktop Sidebar -->
        <div class="lg:ml-64 2xl:ml-[18rem] pb-24 lg:pb-0 transition-all duration-300">
            <!-- 1. PRESENTACIÓN *********************************** -->
            <Content
                id="presentacion"
                tagline="Presentación"
                title="Doctorado en Paisaje y Ambiente"
                subtitle="El espacio libre como elemento que estructura y contribuye a la mejora ambiental en la ciudad contemporánea y el territorio."
                items={[
                    {
                        title: 'Interdisciplinariedad Total',
                        description: 'Abarca métodos para la evaluación, y planificación tanto de la ciudad contemporánea como del patrimonio natural y cultural.',
                        icon: 'tabler:map',
                    },
                    {
                        title: 'Gestión Práctica',
                        description: 'Dar respuesta a problemas prácticos de gestión desarrollando conocimiento sobre procesos del paisaje a diferentes escalas.',
                        icon: 'tabler:trees',
                    },
                ]}
                image={{
                src: '~/assets/images/doctorados/fvi-phd-sostenibilidad-portada.webp',
                alt: 'Imagen de presentación del Doctorado de Paisaje y Ambiente',
                }}
            >
                <Fragment slot="bg">
                    <div class="absolute inset-0 bg-blue-50 dark:bg-pageDark"></div>
                </Fragment>
            </Content>

            <!-- 2. EL DOCTORADO  ******************************* -->
            <Features2
                id="el-doctorado"
                tagline="El Doctorado"
                title="¿Por qué hacer el Doctorado?"
                subtitle='El <span class="text-primary font-semibold">Doctorado en</span> <span class="text-secondary font-semibold">Paisaje y Ambiente</span> propone un recorrido 360º de todas las materias ligadas a la ordenación del paisaje evaluando recursos, problemas sistémicos e instrumentos para una gestión resiliente.'
                columns={2}
                items={[
                {
                    title: 'Objetivos del Doctorado',
                    description:
                    'Este programa formará profesionales para: <ul class="list-disc ml-6 mt-2 space-y-1 text-muted"><li>Generar conocimiento de frontera sobre reparación paisajística.</li><li>Evaluar y planificar métodos de conservación y protección.</li><li>Analizar de fondo el impacto sistémico del desarrollo urbano frente a áreas emergentes.</li></ul>',
                    icon: 'tabler:school',
                },
                {
                    title: 'Perfil del destinatario',
                    description:
                    'El Doctorado está dirigido a: <ul class="list-disc ml-6 mt-2 space-y-1 text-muted"><li>Arquitectos, urbanistas, agrónomos, forestales e ingenieros.</li><li>Profesionales interesados en los campos de patrimonio y gestión.</li><li>Académicos e Investigadores en ciencias naturales urbanas.</li></ul>',
                    icon: 'tabler:users',
                },
                ]}
            />

            <!-- 3. INVESTIGACIÓN  ******************************* -->
            <Features
                id="investigacion"
                tagline="Investigación"
                title="Líneas de Investigación"
                subtitle="El programa doctoral se centra fuertemente en el análisis y ejecución del territorio como ecosistema."
                items={[
                    {
                        title: 'Arquitectura y Urbanismo',
                        description: 'Procesos de ordenación del territorio: análisis, diagnóstico y su posterior intervención para la planificación de áreas urbanas sostenibles.',
                        icon: 'tabler:building-arch',
                    },
                    {
                        title: 'Gestión del Patrimonio',
                        description: 'Evolución de territorios históricos, ecológicos que conforman los paisajes culturales sostenibles orientados a proyectos territoriales comunitarios.',
                        icon: 'tabler:building-castle',
                    },
                    {
                        title: 'Ecología Evolutiva',
                        description: 'Generación de medidas de conservación a través de la interpretación del impacto ambiental y el borde urbano sobre áreas protegidas.',
                        icon: 'tabler:plant-2',
                    },
                    {
                        title: 'Geografía y Simulación',
                        description: 'Proyectos basados en metodologías como Teledetección y Sistemas de Información Geográfica (SIG).',
                        icon: 'tabler:world-latitude',
                    },
                    {
                        title: 'Metodologías no invasivas',
                        description: 'Uso de tecnologías y simulaciones ambientales aplicadas íntegramente al patrimonio y entorno paisajístico.',
                        icon: 'tabler:cube',
                    },
                ]}
            >
                <Fragment slot="bg">
                    <div class="absolute inset-0 bg-blue-50 dark:bg-pageDark"></div>
                </Fragment>
            </Features>

            <!-- 4. ASIGNATURAS  ******************************* -->
            <!-- Carga horaria -->
            <Features2
                id="asignaturas"
                tagline="Asignaturas"
                title="Estructura del programa"
                subtitle='Es un programa multidisciplinario con una duración de <strong>36 meses</strong> (<strong>3 años</strong>), estructurado en periodos de formación, investigación, un <strong>Proyecto de Tesis Doctoral</strong> y artículo científico, totalizando <strong>1,600 horas lectivas</strong> (<strong>100 créditos</strong>).'
                columns={2}
                items={[
                {
                    title: 'Periodo de Formación',
                    description:
                    '<ul class="list-disc ml-6 mt-2 space-y-1 text-white"><li>El plan de estudios está compuesto de <strong>cuatro trimestres</strong> intensivos donde se dictan <strong>doce cursos teóricos</strong>.</li><li>Garantiza el correcto enfoque del participante a través del acompañamiento de un Tutor nombrado por la <strong>Comisión Académica</strong>.</li></ul>',
                    icon: 'tabler:book',
                    classes: { 
                        panel: 'text-white bg-teal-700 dark:bg-teal-500/30',
                        icon: 'text-green-500'
                    },
                },
                {
                    title: 'Periodo de Investigación',
                    description:
                    '<ul class="list-disc ml-6 mt-2 space-y-1 text-white"><li><strong>Componente de Investigación</strong>; seminarios prácticos de seguimiento riguroso.</li><li><strong>Tesis Doctoral</strong>; desarrollo y presentación sobre un área o experimentación paisajística y ecológica vinculante.</li><li><strong>Publicación de artículo científico</strong>.</li></ul>',
                    icon: 'tabler:microscope',
                    classes: { 
                        panel: 'text-white bg-teal-700 dark:bg-teal-500/30',
                        icon: 'text-green-500'
                    },
                },
                ]}
            />
            <!-- 4.1. Periodo de Formación -->
            <HeroSection
                tagline="Periodo de Formación"
                title="Carga Horaria y Asignaturas del Curso"
                subtitle='Aproximación completa por las materias fundamentales que analizan sistemas geográficos, normativas de proyectos, sucesión de ecosistemas y gestión en patrimonio.'
            >
                <Fragment slot="content">
                    <p class="text-base text-left mb-6">El <strong>currículo del programa de doctorado</strong> se precisa a continuación:</p>
                    <ProgramCurriculum courses={paisajeAmbienteCurriculum.courses} />
                </Fragment>
            </HeroSection>            
            <!-- 4.2. Periodo de Investigación -->
            <HeroSection
                tagline="Periodo de Investigación"
                title="Carga Horaria y Asignaturas del Seminario"                
            >
                <Fragment slot="content">
                    <ResearchCurriculum {...paisajeAmbienteResearch} />
                </Fragment>
            </HeroSection>

            <!-- 5. PROYECTO DE TESIS DOCTORAL -->
            <PhdProject />

            <!-- 6. METODOLOGÍA DE ENSEÑANZA -->
            <ProgramMethodology />

            <!-- 7. PROFESORADO -->
            <Content
                id="profesorado"
                tagline="Profesorado"
                title="Profesorado y Tutoría"
                items={[
                    {
                        title: 'Profesionales Universitarios y Doctores',
                        description:
                            'Las clases son impartidas por académicos de alto nivel que dominan el entorno territorial científico y social trabajando activamente en procesos de evaluación ambiental e ingeniería de la conservación.',
                        icon: 'tabler:school',
                    },
                    {
                        title: 'Red internacional de Arquitectura y Urbanismo',
                        description:
                            'El claustro está integrado por autoridades regionales del área, urbanistas de Iberoamérica y docentes en gestión del turismo sostenible.',
                        icon: 'tabler:world',
                    },
                ]}
                image={{
                    src: '~/assets/images/fvi-profesorado-tutoria.webp',
                    alt: 'Imagen del profesorado del Doctorado de Fondo Verde',
                }}
                >
                <Fragment slot="bg">
                    <div class="absolute inset-0 bg-blue-50 dark:bg-pageDark"></div>
                </Fragment>
            </Content>
            {
                ['diana-duran', 'gonzalo-fuente', 'alberto-jimenez', 'eduardo-marquez', 'loraine-giraud', 'alberto-enrique-garcia', 'maria-teresa-perez', 'eduardo-salinas', 'ricardo-remond', 'susan-smith'].map((id) => {
                    const prof = faculty[id];
                    if(!prof) return null;
                    return (
                    <FacultyMember {...prof}>
                        <Fragment slot="bg">
                        <div class="absolute inset-0 bg-blue-50 dark:bg-pageDark" />
                        </Fragment>
                    </FacultyMember>
                    )
                })
            }

            <!-- 8. BENEFICIOS -->
            <Features
                id="beneficios"
                tagline="Beneficios"
                title="Beneficios anticipados e impacto profesional"
                subtitle="El dominio exhaustivo del territorio es fundamental frente a nuevas exigencias en conservación y arquitectura global."
                items={[
                    {
                        title: 'Metodologías SIG Avanzadas',
                        description: 'Uso de Sistemas de Información Geográfica en procesos de inventario aplicados al urbanismo y gestión del paisaje.',
                        icon: 'tabler:map-pin',
                    },
                    {
                        title: 'Diseño Resiliente',
                        description: 'Proponer e implementar proyectos con dinámicas verdes orientadas a amortiguar factores de estrés ecológico y degradación humana.',
                        icon: 'tabler:affiliate',
                    },
                    {
                        title: 'Gestión Patrimonio e Identidad',
                        description: 'Aplicación de métodos que no comprometen la memoria arqueológica o cultural asegurando intervenciones sin disrupciones.',
                        icon: 'tabler:shield-check',
                    },
                    {
                        title: 'Cualificación Ejecutiva',
                        description: 'Acredita y da el soporte técnico exigido en los mayores despachos consultores, organizaciones internacionales e institutos ambientales.',
                        icon: 'tabler:briefcase-2',
                    },
                ]}
            />    
            
            <!-- 9. CAMPOS DE ACCIÓN -->
            <Features
                id="campos-de-accion"
                tagline="Campos de Acción"
                title="Campos de Acción Profesionales"
                subtitle="Líder en ordenación de proyectos e investigación de primer impacto frente a entornos ecológicos y artificiales."
                items={[
                    {
                        title: 'Agencias y Organismos de Protección',
                        description: 'Dirección o asesoría en instancias gubernamentales formulando estrategias de urbanismo y conservación para áreas nacionales e internacionales.',
                        icon: 'tabler:leaf',
                    },
                    {
                        title: 'Diseñador en Arquitectura Sostenible',
                        description: 'Planificación independiente de infraestructuras vinculadas al entorno natural integrando soluciones de tecnología amigable.',
                        icon: 'tabler:building-bridge-2',
                    },
                    {
                        title: 'Evaluador y Auditor Turístico',
                        description: 'Consultoría especializada en garantizar normativas globales para la operación turística bajo modelos sustentables frente al paisaje geográfico.',
                        icon: 'tabler:route-square',
                    },
                    {
                        title: 'Investigación y Desarrollo Universitario',
                        description: 'Línea académica en centros de altos estudios, diseñando laboratorios y modelamiento de dinámica de ecosistemas.',
                        icon: 'tabler:school',
                    },
                ]}
            >
                <Fragment slot="bg">
                    <div class="absolute inset-0 bg-blue-50 dark:bg-pageDark"></div>
                </Fragment>
            </Features> 

            <!-- 10. TITULACIÓN -->            
            <Content
                id='titulacion'
                title='Título Oficial'
                tagline="Titulación"
                isReversed
                image={{
                    src: '~/assets/images/fvi-titulacion.webp',
                    alt: 'Imagen de titulación del Doctorado de Fondo Verde',
                }}
             >
                <Fragment slot="content">                    
                    <p class="text-xl text-muted mb-2 dark:text-slate-300">
                        La <strong>Universidad Centro Panamericano de Estudios Superiores</strong> - <strong>UNICEPES</strong>, otorga el Grado de <span class="text-primary font-semibold">Doctor (a) en Paisaje y Ambiente</span> con <strong>Reconocimiento de Validez Oficial de Estudios</strong> (<strong>RVOE</strong>) otorgado por la Secretaría de Educación del Gobierno del Estado de Michoacán (<span class="text-secondary font-semibold">RVOE No. DOC210102</span> | <span class="text-primary font-semibold">Clave D.G.P. Dirección General de Profesiones N° 620604</span>) y con Reconocimiento en todos los países en los que México haya suscrito convenio a través del Convenio de la Haya (1961).
                    </p>      
                    <div class="flex justify-center">
                        <div class="max-w-xs md:max-w-[400px]">
                            <Image 
                                src="~/assets/images/fvi-rvoe-logo.webp" 
                                alt="Logo RVOE" 
                                width={400}
                                class="h-auto dark:brightness-110"
                            />
                        </div>
                    </div>
                </Fragment>
            </Content>

            <!-- 11. BECAS -->
            <Scholarship />

            <!-- 12. INSCRIPCIÓN -->
            <Admission />

            <!-- 13. PAGOS -->
            <Payments />

            <!-- 14. MEDIOS DE PAGO -->
            <PaymentMethods />

            <!-- 15. SOLICITUDES -->
            <Requests />

        </div>
        <!-- END Main Content -->

    </div>
    <!-- END Desktop Sidebar & Mobile Floating Pill -->

</Layout>
