---
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
---

<Features2
  id="estructura"
  tagline="Estructura"
  title="Estructura del Programa"
  subtitle="El Programa de Postdoctorado tiene una duración mínima de <strong>6 meses en su versión intensiva</strong> y máxima de <strong>1 año en su formato flexible</strong>, ampliable hasta 1 trimestre. <br><br>Las actividades del/la postDoc, giran alrededor de los siguientes <strong>cinco</strong> aspectos fundamentales:"
  items={[
    {
      title: '1. Plan de Trabajo Postdoctoral',
      description:
        'Consiste en la realización de un plan de actividades asignadas a los doctores dentro del programa y/o proyecto de investigación propuesto. Las tareas programadas se realizan bajo la supervisión de un director designado a tal efecto.',
      icon: 'tabler:clipboard-check',
      classes: { panel: 'bg-teal-500/20 dark:bg-teal-500/30' },
    },
    {
      title: '2. Asignaturas de la programación',
      description:
        'Son asignaturas obligatorias propuestas en la programación vigente y se compone de varias áreas temáticas que fomentan la colaboración transnacional en muy diferentes campos de estudio, con enfoque en el avance de la ciencia y la investigación.',
      icon: 'tabler:book',
      classes: { panel: 'bg-teal-500/30 dark:bg-teal-500/40' },
    },
    {
      title: '3. Trabajo Final de Investigación - TFI',
      description:
        'En lo referente al TFI, los alumnos identifican una de las asignaturas de la programación y desarrollan algun aspecto que le resulte de interés y cuyo resultado debe ser la publicación de un articulo en una revista de nivel académico acorde a los requisitos exigidos en publicaciones de nivel internacional.',
      icon: 'tabler:news',
      classes: { panel: 'bg-teal-500/40 dark:bg-teal-500/30' },
    },
    {
      title: '4. Informe final avalado',
      description:
        'Consiste en la presentación de un informe del cumplimiento de las tareas previstas en el plan de trabajo propuesto y avalado por su Director.',
      icon: 'tabler:file-report',
      classes: { panel: 'bg-teal-500/50 dark:bg-teal-500/40' },
    },
    {
      title: '5. Defensa del Trabajo Final de Investigación - TFI',
      description:
        'La defensa de la investigación es un acto público y consistirá en la exposición y defensa del trabajo ante un jurado seleccionado por el Comité de Posdoctorado. Los doctores presentes pueden formular cuestiones. ',
      icon: 'tabler:school',
      classes: { panel: 'bg-teal-500/60  dark:bg-teal-500/30' },
    },
  ]}
/>

<Steps
  subtitle="Durante su estancia, el/la postdoctorando deberá asumir diversas responsabilidades académicas y de investigación. Estas tareas, que se detallan a continuación, estarán orientadas al fortalecimiento de sus competencias profesionales y al cumplimiento de los objetivos del programa:"
  items={[
    {
      title: '<span class="text-primary">POSTDOC INTENSIVO</span>',
      description:
        '<ol class="text-primary"><li><strong>1.</strong> Cursar una serie de asignaturas de la programación.</li><li><strong>2.</strong> Exposición sobre el tema de investigación propuesto.</li><li><strong>3.</strong> Colaboración del doctor como jurado de tesis.</li></ol>',
      icon: 'tabler:school',
    },
    {
      title: '<span class="text-muted">POSTDOC FLEXIBLE</span>',
      description:
        'Además de <strong>1</strong>, <strong>2</strong> y <strong>3</strong>: <ol><li><strong>4.</strong> Realizar actividades de investigación de campo.</li><li><strong>5.</strong> Impartir conferencias en las materias de su interés.</li><li><strong>6.</strong> Participación en pasantías, seminarios o congresos.</li></ol>',
      icon: 'tabler:school',
    },
    {
      title: '<span class="text-secondary">TRABAJO FINAL</span>',
      description: '<span class="text-secondary">Defensa del Trabajo Final de Investigación - TFI.</span>',
      icon: 'tabler:school',
    },
    {
      description:
        '<span class="font-semibold text-accent">La/ el postdoc también será responsable de fomentar la investigación ecológica global dentro de nuestro instituto, por ejemplo, a través del desarrollo de actividades conjuntas e interinstitucionales.</span>',
    },
  ]}
/>
