---
import Hero from '~/components/widgets/Hero.astro';
import FacultyMember from '~/components/widgets/FacultyMember.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features3 from '~/components/widgets/Features3.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { faculty } from '~/data/faculty';

const metadata = {
  title: 'Profesorado e Investigación',
  description:
    'Conoce al profesorado e investigadores de Fondo Verde Institute, expertos internacionales en medio ambiente, sostenibilidad, energías renovables y desarrollo territorial.',
  keywords:
    'profesorado, investigación, Fondo Verde Institute, docentes, expertos, medio ambiente, sostenibilidad, energías renovables',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline="El Instituto"
    image={{
      src: '~/assets/images/fvi-profesorado-investigacion-hero.webp',
      alt: 'Profesorado e Investigación - Expertos internacionales de Fondo Verde Institute',
    }}
  >
    <Fragment slot="title">
      Profesorado e
      <span class="text-primary dark:text-accent"> Investigación</span>
    </Fragment>

    <Fragment slot="subtitle">
      El cuerpo docente de <span class="font-semibold text-primary">Fondo Verde</span>{' '} <span class="font-semibold text-secondary">Institute</span> reúne a investigadores y profesionales de la administración pública y el sector privado de diversas nacionalidades, quienes, coordinados con nuestro equipo central en Perú, aportan una visión global y pragmática a nuestra especialización ambiental. Gracias a su experiencia multicultural y dominio de entornos virtuales, este equipo garantiza una formación de vanguardia, perfectamente adaptada a las exigencias reales del mercado ambiental internacional.
    </Fragment>
  </Hero>

  <!-- La investigación en Fondo Verde ************** -->
  <Features3
    title="La investigación en Fondo Verde"
    subtitle="<strong>Fondo Verde Institute</strong> está comprometido con el avance del conocimiento a través de una rigurosa investigación en los campos de la sustentabilidad y la planificación ambiental. Nuestras unidades de investigación incluyen a muchos expertos en un gran número de campos y áreas de conocimiento orientados a la conservación y manejo sostenible de los recursos naturales y el ambiente. Los expertos de <strong>Fondo Verde</strong> se dedican a llevar a cabo investigaciones que puedan tener un impacto directo y aportar valor a nuestros planes de formación, al sector ambiental, a las organizaciones y a la sociedad en conjunto.<br /><br />
    A continuación, se relacionan las líneas de investigación de Fondo Verde:"
    tagline="Líneas de investigación"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Conservación y Restauración de Ecosistemas',
        icon: 'tabler:trees',
      },
      {
        title: 'Educación Ambiental',
        icon: 'tabler:school',
      },
      {
        title: 'Economía del Medio Ambiente y Desarrollo',
        icon: 'tabler:coins',
      },
      {
        title: 'Gestión Sostenible de los Recursos Naturales y Ambientales',
        icon: 'tabler:leaf',
      },
      {
        title: 'Mercados y Emprendimientos Socio-Ambientales',
        icon: 'tabler:rocket',
      },
      {
        title: 'Modelización de Ecosistemas',
        icon: 'tabler:chart-dots-3',
      },
      {
        title: 'Políticas Ambientales y de Sostenibilidad',
        icon: 'tabler:gavel',
      },
      {
        title: 'Recursos Hídricos',
        icon: 'tabler:droplet',
      },
      {
        title: 'Sostenibilidad Ambiental',
        icon: 'tabler:recycle',
      },
    ]}
  />

  <!-- Encabezado de Profesorado -->
  <WidgetWrapper containerClass="pb-0 md:pb-0 lg:pb-0">
    <div class="text-center mb-4">
      <p class="text-base text-secondary font-semibold tracking-wide uppercase">Claustro Docente</p>
      <h2 class="text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading">Nuestros Profesores</h2>
    </div>
  </WidgetWrapper>

  {
    Object.keys(faculty).map((key, index) => (
      <FacultyMember {...faculty[key]}>
        {index % 2 === 0 && (
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent" />
          </Fragment>
        )}
      </FacultyMember>
    ))
  }
</Layout>
